# Dependencies for the CV container.

fastapi==0.115.12
uvicorn[standard]==0.34.2
ultralytics>=8.4.48
pillow
opencv-python
torch
torchvision

# for deimv2
# faster-coco-eval>=1.6.7
# PyYAML
# tensorboard
# scipy
# calflops
# transformers

# for ec
numpy==2.0.1
pycocotools
PyYAML
tensorboard
scipy==1.16.0
calflops
transformers

# for rfdetr
rfdetr
supervision

# very important to have <2.0.0 version
PyTurboJPEG<2.0.0
